COMMmethod {{ dsmserv_opt_commmethod }}
TCPPort {{ dsmserv_opt_tcpport }}
ssltcpport {{ dsmserv_opt_ssltcpport }}
TCPWindowsize {{ dsmserv_opt_tcpwindowssize }}
TCPNODELAY {{ dsmserv_opt_tcpnodelay }}
MAXSessions {{ dsmserv_opt_maxsessions }}
TXNGroupmax {{ dsmserv_opt_txngroupmax }}
LANGuage {{ dsmserv_opt_language }}
VOLUMEHistory {{ dsmserv_opt_volhist }}
DEVCONFig {{ dsmserv_opt_devconfig }}
